# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Python cache & build
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.coverage
htmlcov/
build/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases & local files
*.db
*.sqlite3
.env
.flaskenv

# Frontend builds
dist/
dist-ssr/
*.local

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

.vercel
.env*
